{% extends "header.html" %}
{% block content %}
<html>

<head>
	<title>Calculator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background-color: rgb(236, 236, 236);">
	<div class="body col">
		<!-- <div class="title center">
			<h3>First Follow Calculator</h3>
		</div> -->
		<div class="card">
			{% if data['starting_symbol']=="_" %}
			<form class="col" action="http://localhost:5000" method="POST">
				<div class="row">
					<div class="col">
						<div class="text">No. of terminals</div>
						<input class="inputBox" type="text" name="not" />
					</div>
					<div class="col left">
						<div class="text">Enter Terminals</div>
						<input class="inputBox" type="text" name="ts" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="text">No. of non-terminals</div>
						<input class="inputBox" type="text" name="nont" />
					</div>
					<div class="col left">
						<div class="text">Enter Non-Terminals</div>
						<input class="inputBox" type="text" name="nts" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="text">No. of Productions</div>
						<input class="inputBox" type="text" name="nop" />
					</div>
					<div class="col left">
						<div class="text">Enter Productions</div>
						<input class="inputBox" type="text" name="ps" />
					</div>
				</div>
				<div class="row center">
					<div class="col">
						<div class="text">Enter start symbol</div>
						<input class="inputBox" type="text" name="ss" />
					</div>
				</div>
				<div class="center">
					<button class="button" type="submit">Calculate</button>
				</div>
			</form>
			{% else %}
			<table>
				<thead>
					<tr>
						<th>Non-Terminal</th>
						<th>First</th>
						<th>Follow</th>
					</tr>
				</thead>
				{%for nt in data.non_terminals%}

				<tbody>
					<tr>
						<td>{{nt}}</td>
						<td>
							{%for e in data.FIRST[nt]%}
							{{e}},
							{% endfor %}
						</td>
						<td>
							{%for e in data.FOLLOW[nt]%}
							{{e}},
							{% endfor %}
						</td>
					</tr>
				</tbody>
				{%endfor%}

			</table>
			{%endif%}
		</div>
</body>

</html>
{% endblock %}